name: Build MetaPDF APK & AAB

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 'stable'

      - name: Flutter pub get
        run: flutter pub get
        working-directory: frontend

      - name: Build APK
        run: flutter build apk --release
        working-directory: frontend

      - name: Build AAB
        run: flutter build appbundle --release
        working-directory: frontend

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: MetaPDF-APK
          path: frontend/build/app/outputs/flutter-apk/app-release.apk

      - name: Upload AAB
        uses: actions/upload-artifact@v3
        with:
          name: MetaPDF-AAB
          path: frontend/build/app/outputs/bundle/release/app-release.aab
